
@font-face {
    font-family: 'YourFontName';
    src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background: #222;
}

body{
    display: flex;
    justify-content: center;
    align-self: center;
    background: #222;
    text-align: center;

}

h1{
    font-size: 35px;
}
hr{
    width: 800px;
}

.container{
    position: relative;
    max-width: 85%;
    max-height: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, auto));
    gap: 1rem;
    margin: 40px;
    grid-auto-rows: 240px;
    grid-auto-flow: dense;
    grid-gap: 10px;
} 
.box{
    background: #333;
    padding: 20px;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    
}

@media screen and (min-width: 600px) {
    .card-tall{
        grid-row: span 2 /auto;
    }
    .card-wide{
        grid-column: span 2 /auto;
    }
}


.tetris{
    background-position-y: center;
    font-size:40px ;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    background-position: center;
    text-align: center;
}

.two{
    background-position-y: center;
    background-position-x: bottom;
}
.ttt{
    background-position-y: center;
    background-position-x: center;
}
.fp{
    background-position-y: center;
    background-position-x: center;
    background-size: auto 150%;
}
.snake{
    background-position-y: center;
    background-position-x: center;
}


.box:hover{
    transform: scale(1.03);
    z-index: 2;
}

